_notes.txt
secrets.txt
.DS_Store
/cdk-exports.json
/cdk.context.json
/build

.cdk.staging
cdk.out

!jest.config.js
node_modules

logs
*.log
npm-debug.log*
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history
*.tgz
.env
.env.test
.dynamodb/

# Intellij project files
*.iml
*.ipr
*.iws
*.idea/


venv/

# Terraform
aws/.terraform/
aws/.terraform.lock.hcl
aws/terraform.tfstate
aws/terraform.tfstate.backup
aws/terraform.tfstate.d/
aws/*.tfstate
aws/*.tfstate.*
aws/tfplan
aws/*.tfplan
aws/*.plan
aws/*.tfvars
!aws/terraform.tfvars.example
aws/crash.log
aws/crash.*.log
aws/override.tf
aws/override.tf.json
aws/*_override.tf
aws/*_override.tf.json